.formacion{
    background-color: var(--color-highlight);
    height: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 7rem;
}

.formacion__pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.formacion__box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50rem;
    padding: 3rem 3rem 0 3rem;
    border-radius: 5rem;
    
    

}

.formacion__img{
    /* object-fit: cover; */
}