.hero {
    background-color: var(--color-mint);
    padding-top: 3rem;
    height: 90vh;
    display: flex;
    align-items: center;
}


.hero__info-main {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1{
    font-size: 6rem;
    line-height: 7rem;
    
}
.hero__info-text{
    position: relative;
}

.g-social__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero__social-list{
    margin-top: 5rem;
    

}

.social__img {
    width: 4rem;
    border-radius: 50%;
}

.hero__img {
    width: 50rem;
    min-width: 30rem;
}
