.hobbies{
    background-color: var(--color-marshmellow);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hobbies__pack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.hobbies__box{
   text-align: center;
    
}

.hobbies__box>img{
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    
    filter: saturate(10%);
    transition: all .7s;
    
}


.hobbies__box .github-invert:hover{
    filter: invert(1);
    
    
    
}
.hobbies__box>img:hover{
    filter: saturate(100%);
    transition: all .7s;
    
}
