.sobre-mi{
    background-color: var(--color-marshmellow--color-highlight);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.sobre-mi__info{
    display: flex;
    align-items: center;
   
    justify-content: space-between;
}
.sobre-mi__box-img{
    width: 40%;
}

.sobre-mi__img{
    border-radius: 50%;
    width: 50rem;
    min-width: 30rem;
}

.sobre-mi__box-parrafo{
    width: 60%;
}