.skills{

    background-color: var(--color-mint);
    height: auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills__pack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.skills__box{
    text-align: center;
}

.skills__box>img{
    filter: saturate(10%);
    transition: all .7s;
    
}

.skills__box .github-invert{
    filter: invert(0);
    transition-duration: .7s;
    
    
}
.skills__box .github-invert:hover{
    filter: invert(1);
    
    
    
}
.skills__box>img:hover{
    filter: saturate(100%);
    transition: all .7s;
    
}



